/**
 * This file contains rules that override font sizes.
 */

:root {
  --button-label-font-size: 13px;
  --button-label-line-height: 13px;
  --menu-title-font-size: 21px;
  --menu-header-font-size: 16px;
  --menu-label-font-size: 16px;
  --menu-footnote-font-size: 13px;
}
